﻿@model DeliveryApp.Models.Order

@{
    ViewData["Title"] = "CancelOrder";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!--Modal Body Start-->
<div class="modal-content">

    <!--Modal Header Start-->
    <div class="modal-header">
        <h4 class="modal-title">Cancel Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <!--Modal Header End-->

    <form asp-action="CancelOrderAction">
        <div class="modal-body form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <input asp-for="OrderID" class="form-control" />
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="ShippingType" class="control-label"></label>
                <input asp-for="ShippingType" class="form-control" />
                <span asp-validation-for="ShippingType" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="Employee1" class="control-label"></label>
                <input asp-for="Employee1" class="form-control" />
                <span asp-validation-for="Employee1" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="Employee2" class="control-label"></label>
                <input asp-for="Employee2" class="form-control" />
                <span asp-validation-for="Employee2" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="RequiredDate" class="control-label"></label>
                <input asp-for="RequiredDate" class="form-control" />
                <span asp-validation-for="RequiredDate" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="ShippedDate" class="control-label"></label>
                <input asp-for="ShippedDate" class="form-control" />
                <span asp-validation-for="ShippedDate" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="OrderFee" class="control-label"></label>
                <input asp-for="OrderFee" class="form-control" />
                <span asp-validation-for="OrderFee" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="StopTime" class="control-label"></label>
                <input asp-for="StopTime" class="form-control" />
                <span asp-validation-for="StopTime" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="OrderValue" class="control-label"></label>
                <input asp-for="OrderValue" class="form-control" />
                <span asp-validation-for="OrderValue" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="Mass" class="control-label"></label>
                <input asp-for="Mass" class="form-control" />
                <span asp-validation-for="Mass" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="Kilometers" class="control-label"></label>
                <input asp-for="Kilometers" class="form-control" />
                <span asp-validation-for="Kilometers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" value="Failure" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="ShippingMethod" class="control-label"></label>
                <input asp-for="ShippingMethod" class="form-control" />
                <span asp-validation-for="ShippingMethod" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="BussinesStaffID" class="control-label"></label>
                <input asp-for="BussinesStaffID" class="form-control" />
                <span asp-validation-for="BussinesStaffID" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="StartPoint" class="control-label"></label>
                <input asp-for="StartPoint" class="form-control" />
                <span asp-validation-for="StartPoint" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="EndPoint" class="control-label"></label>
                <input asp-for="EndPoint" class="form-control" />
                <span asp-validation-for="EndPoint" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="WarehouseID" class="control-label"></label>
                <input asp-for="WarehouseID" class="form-control" />
                <span asp-validation-for="WarehouseID" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" value="Cancel"/>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <!--Modal Footer Start-->
        <div class="modal-footer">
            <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button">Cancel</button>
            <button class="btn btn-success relative" id="btnSubmit" type="submit">
                <i class="loader"></i>
                OK
            </button>
        </div>
        <!--Modal Footer End-->
    </form>

</div>



