﻿@{
    ViewBag.Title = "Map Page";
}

<h2>Bing Map integration in ASP.NET</h2>
<input type="button" id="btnShowLocations" value="Show All Locations" />
@*<<button onclick="getLocation()">Try It</button>*@
<input type="button" value="Start Continuous Tracking" onclick="StartTracking()" />
<input type="button" value="Stop Continuous Tracking" onclick="StopTracking()" />
<p id="rData"></p>
<p id="demo"></p>
<div id='printoutPanel'></div>
<div id='searchBoxContainer'><input type='text' id='searchBox' /></div>
<div id="myMap" style="position:relative; width:100%; height:600px;"></div>
<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />
<!-- Load the `goong-geocoder` plugin. -->
<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.css"
      rel="stylesheet"
      type="text/css" />

<!-- Promise polyfill script is required -->
<!-- to use Goong Geocoder in IE 11. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    @*$('#btnShowLocations').click(function () {
        var url = "/UserOrder/Map/";
        var id = '@ViewBag.OrderID';
        $.get(url + id +'/TellMeDate', null, function (data) {
            $("#rData").html(data);
        });
    });*@

   


    var geojson = {
        'type': 'FeatureCollection',
        'features': [
            {
                'type': 'Feature',
                'properties': {
                    'message': 'Foo',
                    'iconSize': [60, 60]
                },
                'geometry': {
                    'type': 'Point',
                    'coordinates': [105.78903, 21.02524]
                }
            },
            {
                'type': 'Feature',
                'properties': {
                    'message': 'Bar',
                    'iconSize': [50, 50]
                },
                'geometry': {
                    'type': 'Point',
                    'coordinates': [105.79553, 21.03027]
                }
            },
            {
                'type': 'Feature',
                'properties': {
                    'message': 'Baz',
                    'iconSize': [40, 40]
                },
                'geometry': {
                    'type': 'Point',
                    'coordinates': [105.79621, 21.00963]
                }
            }
        ]
    };

    goongjs.accessToken = '9IOlUggYUhs9DM8hgiw1Z4LhoGu8YRkLUc54xVxD';
    var map = new goongjs.Map({
        container: 'myMap',
        style: 'https://tiles.goong.io/assets/goong_map_web.json',
        center: [105.80028, 21.0188],
        zoom: 13
    });

    // Add the search control to the map.
    map.addControl(
        new GoongGeocoder({
            accessToken: 'rDCEpOhGmuPf78dMFbiLh7jNEzeHaJEAj2qVM9ns',
            goongjs: goongjs
        })
    );

    // add markers to map
    geojson.features.forEach(function (marker) {
        // create a DOM element for the marker
        var el = document.createElement('div');
        el.className = 'marker';
        el.style.backgroundImage =
            'url(https://placekitten.com/g/' +
            marker.properties.iconSize.join('/') +
            '/)';
        el.style.width = marker.properties.iconSize[0] + 'px';
        el.style.height = marker.properties.iconSize[1] + 'px';

        el.addEventListener('click', function () {
            window.alert(marker.properties.message + "-" + marker.geometry.coordinates);
        });


        var url = "/UserOrder/Map/";
        var id = '@ViewBag.OrderID';
        $.getJSON(url + id + '/GetLocations', null, function (data) {
            $.each(data, function (index, locationData) {
                var lat = locationData.Latitude;
                var lng = locationData.Longitude;
                // add marker to map
                new goongjs.Marker(el)
                    .setLngLat(new goongjs.LngLat(lng, lat))
                    .addTo(map);
            });
        });

    });




    @*$('#btnShowLocations').click(function () {
        var url = "/UserOrder/Map/";
        var id = '@ViewBag.OrderID';
        $.getJSON(url + id + '/GetLocations', null, function (data) {
            var items = '<table><tr><th>Lat</th><th>Long</th></tr>';
            $.each(data, function (index, locationData) {
                var longitude = locationData.Longitude;
                items += "<tr><td>" + locationData.Latitude + "</td><td>" + locationData.Longitude + "</td></tr>";
                items += "</table>";
            });
            $("#rData").html(items);
        });
    });*@

    //$('#btnShowLocations').click(function () {
    //    var posi
    //    $("#rData").html("Latitude: " + position.coords.latitude +
    //        "<br>Longitude: " + position.coords.longitude);
    //});

    $('#btnShowLocations').click(function () {
        getLocation();
    });

    var x = document.getElementById("demo");
    var lng = "";
    var lat = "";

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        lng = position.coords.longitude;
        lat = position.coords.latitude;
        window.alert("Latitude: " + lat +
            "<br>Longitude: " + lng);

    }

</script>
