﻿@model DeliveryApp.Models.Order

@{
    ViewData["Title"] = "StartOrder";
}

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />-->
<!-- Load the `goong-geocoder` plugin. -->
<!--<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.css"
      rel="stylesheet"
      type="text/css" />-->
<!-- Promise polyfill script is required -->
<!-- to use Goong Geocoder in IE 11. -->
<!--<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>-->



<script type="text/javascript" language="javascript">
    //goongjs.accessToken = '9IOlUggYUhs9DM8hgiw1Z4LhoGu8YRkLUc54xVxD';
    //var map = new goongjs.Map({
    //    container: 'myMap',
    //    style: 'https://tiles.goong.io/assets/goong_map_web.json',
    //    center: [105.80028, 21.0188],
    //    zoom: 13
    //});

    var lng = "";
    var lat = "";

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        lng = position.coords.longitude;
        lat = position.coords.latitude;
        //window.alert("Latitude: " + lat +
        //    "<br>Longitude: " + lng);

        //$('p').html(lng+","+ lat);
    }

    function getKilometer() {
        var url = "/UserOrder/Edit/";
        var id = '@Model.OrderID';
        $.getJSON(url + id + '/GetKilometers', null, function (data) {
            $.each(data, function (index,distanceData) {
                if (distanceData != null) {
                    var distance = distanceData.kilometers;
                    window.alert(distance);
                } else {
                    window.alert("Null");
                }
            });
        });
    }
</script>





<!--Modal Body Start-->
<div class="modal-content">

    <!--Modal Header Start-->
    <div class="modal-header">
        <h4 class="modal-title">Start Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <!--Modal Header End-->


    <div id="myMap" style="position:relative; width:100%; height:600px;"></div>
    @section Scripts{
        <script src="~/js/start_order.js" asp-append-version="true"></script>
    }

    <form asp-action="StartOrderAction">
        <div class="modal-body form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <input asp-for="OrderID" class="form-control" />
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingType" class="control-label"></label>
                <input asp-for="ShippingType" class="form-control" />
                <span asp-validation-for="ShippingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee1" class="control-label"></label>
                <input asp-for="Employee1" class="form-control" />
                <span asp-validation-for="Employee1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee2" class="control-label"></label>
                <input asp-for="Employee2" class="form-control" />
                <span asp-validation-for="Employee2" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="RequiredDate" class="control-label"></label>
                <input asp-for="RequiredDate" class="form-control" />
                <span asp-validation-for="RequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ShippedDate" class="control-label"></label>
                <input asp-for="ShippedDate" class="form-control" />
                <span asp-validation-for="ShippedDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="OrderFee" class="control-label"></label>
                <input asp-for="OrderFee" class="form-control" />
                <span asp-validation-for="OrderFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="StopTime" class="control-label"></label>
                <input asp-for="StopTime" class="form-control" />
                <span asp-validation-for="StopTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="OrderValue" class="control-label"></label>
                <input asp-for="OrderValue" class="form-control" />
                <span asp-validation-for="OrderValue" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Mass" class="control-label"></label>
                <input asp-for="Mass" class="form-control" />
                <span asp-validation-for="Mass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kilometers" class="control-label"></label>
                <p><input asp-for="Kilometers" class="form-control" /></p>
                <span asp-validation-for="Kilometers" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ShippingMethod" class="control-label"></label>
                <input asp-for="ShippingMethod" class="form-control" />
                <span asp-validation-for="ShippingMethod" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="BussinesStaffID" class="control-label"></label>
                <input asp-for="BussinesStaffID" class="form-control" />
                <span asp-validation-for="BussinesStaffID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPoint" class="control-label"></label>
                <input asp-for="StartPoint" class="form-control" value="105.9342457,10.1723648" />
                <span asp-validation-for="StartPoint" class="text-danger"></span>
                <button type="button" onclick="getLocation()">Location</button>
                <button type="button" onclick="getKilometer()">Kilometer</button>
            </div>
            <div class="form-group">
                <label asp-for="EndPoint" class="control-label"></label>
                <input asp-for="EndPoint" class="form-control" />
                <span asp-validation-for="EndPoint" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="WarehouseID" class="control-label"></label>
                <input asp-for="WarehouseID" class="form-control" />
                <span asp-validation-for="WarehouseID" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAdress" class="control-label"></label>
                <input asp-for="CustomerAdress" class="form-control" />
                <span asp-validation-for="CustomerAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhone" class="control-label"></label>
                <input asp-for="CustomerPhone" class="form-control" />
                <span asp-validation-for="CustomerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerContact" class="control-label"></label>
                <input asp-for="CustomerContact" class="form-control" />
                <span asp-validation-for="CustomerContact" class="text-danger"></span>
            </div>
        </div>
        <!--Modal Footer Start-->
        <div class="modal-footer">
            <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button">Cancel</button>
            <button class="btn btn-success relative" id="btnSubmit" type="submit">
                <i class="loader"></i>
                Start
            </button>
        </div>
        <!--Modal Footer End-->
    </form>

</div>




