﻿@model DeliveryApp.Models.Order
<style>
    #container {
        padding: 10px;
    }

        #container ul {
            list-style-type: none;
            text-align: center;
            font-size: 0;
        }

            #container ul li {
                display: inline-block;
                width: 160px;
                margin: 10px;
                font-size: 14px;
            }

                #container ul li img {
                    width: 100px;
                }

    .button-info {
        margin: 10px;
    }

    .dx-popup-content p {
        margin-bottom: 10px;
        margin-top: 0;
    }
</style>

<div id="container">


    <h1>Employees</h1>

    <div class="button-container">
        <form id="formExport" method="post">
            <input name="SpreadsheetWorkSessionId" type="hidden" value="" />
            <div id="button-download-xlsx"></div>
        </form>
    </div>

    <script type="text/javascript">
    $(function () {
        $("#button-download-xlsx").dxButton({
            icon: "download",
            type: "normal",
            text: "Download as Xlsx",
            onClick: function (e) {
                var spreadsheetState = spreadsheet.getSpreadsheetState();
                $("#formExport").attr('action', '@Url.Action("DownloadXlsx")');
                $("input[name='SpreadsheetWorkSessionId']").val(spreadsheetState.SpreadsheetWorkSessionId);

            },
            useSubmitBehavior: true
        });
        $("#button-download-html").dxButton({
            icon: "download",
            type: "normal",
            text: "Download as Html",
            onClick: function (e) {
                var spreadsheetState = spreadsheet.getSpreadsheetState();
                $("#formExport").attr('action', '@Url.Action("DownloadHtml")');
                $("input[name='SpreadsheetWorkSessionId']").val(spreadsheetState.SpreadsheetWorkSessionId);
            },
            useSubmitBehavior: true
        });
        $("#button-print").dxButton({
            icon: "print",
            type: "normal",
            text: "Print document",
            onClick: function(e) {
                spreadsheet.print("_blank");
            }
        });
    });
    </script>

    @(Html.DevExtreme().Popup()
        .ID("employee-popup")
        .Width(300)
        .FullScreen(true)
        .Height(280)
        .Container(".dx-viewport")
        .ShowTitle(true)
        .Title("Information")
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
        .ShowCloseButton(false)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.Before)
                .Widget(widget => widget.Button()
                    .Icon("email")
                    .Text("Send")
                    .OnClick(@<text>
                        function showInfo(data) {
                            const message = `Email is sent to ${currentEmployee.OrderID} ${currentEmployee.EndPoint}`;
                            DevExpress.ui.notify({
                                message: message,
                                position: {
                                    my: "center top",
                                    at: "center top"
                                }
                            }, "success", 3000);
                        }
                    </text>)
                );
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Close")
                    .OnClick(@<text>
                        function hideInfo(data) {
                            const popup = $("#employee-popup").dxPopup("instance");
                            popup.hide();
                        }
                    </text>)
                );
        })
    )

    <ul class="employees">
        <li>
            <img src="https://www.w3schools.com/images/lamp.jpg" id="@("image")" /><br />
            <i>@Model.OrderID</i>
            <i>@Model.BussinesStaffID</i><br />

            @(Html.DevExtreme().Button()
                    .ElementAttr("class", "button-info")
                    .Text("Details")
                    .OnClick(@<text>
                        function showInfo(data) {
                            const popup = $("#employee-popup").dxPopup("instance");
                            currentEmployee =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
                            popup.option({
                                contentTemplate: $("#popup-template-"),
                                "position.of": `#image`,
                            });
                            popup.show();
                        }
                    </text>)
                )

            @using (Html.DevExtreme().NamedTemplate("popup-template-"))
            {
                @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(
                @<form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OrderID" class="control-label"></label>
                        <input asp-for="OrderID" class="form-control" />
                        <span asp-validation-for="OrderID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingType" class="control-label"></label>
                        <input asp-for="ShippingType" class="form-control" />
                        <span asp-validation-for="ShippingType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Employee1" class="control-label"></label>
                        <input asp-for="Employee1" class="form-control" />
                        <span asp-validation-for="Employee1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Employee2" class="control-label"></label>
                        <input asp-for="Employee2" class="form-control" />
                        <span asp-validation-for="Employee2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RequiredDate" class="control-label"></label>
                        <input asp-for="RequiredDate" class="form-control" />
                        <span asp-validation-for="RequiredDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Result" class="control-label"></label>
                        <input asp-for="Result" class="form-control" />
                        <span asp-validation-for="Result" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippedDate" class="control-label"></label>
                        <input asp-for="ShippedDate" class="form-control" />
                        <span asp-validation-for="ShippedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderFee" class="control-label"></label>
                        <input asp-for="OrderFee" class="form-control" />
                        <span asp-validation-for="OrderFee" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StopTime" class="control-label"></label>
                        <input asp-for="StopTime" class="form-control" />
                        <span asp-validation-for="StopTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderValue" class="control-label"></label>
                        <input asp-for="OrderValue" class="form-control" />
                        <span asp-validation-for="OrderValue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mass" class="control-label"></label>
                        <input asp-for="Mass" class="form-control" />
                        <span asp-validation-for="Mass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Kilometers" class="control-label"></label>
                        <input asp-for="Kilometers" class="form-control" />
                        <span asp-validation-for="Kilometers" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reason" class="control-label"></label>
                        <input asp-for="Reason" class="form-control" />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingMethod" class="control-label"></label>
                        <input asp-for="ShippingMethod" class="form-control" />
                        <span asp-validation-for="ShippingMethod" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BussinesStaffID" class="control-label"></label>
                        <input asp-for="BussinesStaffID" class="form-control" />
                        <span asp-validation-for="BussinesStaffID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartPoint" class="control-label"></label>
                        <input asp-for="StartPoint" class="form-control" />
                        <span asp-validation-for="StartPoint" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndPoint" class="control-label"></label>
                        <input asp-for="EndPoint" class="form-control" />
                        <span asp-validation-for="EndPoint" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WarehouseID" class="control-label"></label>
                        <input asp-for="WarehouseID" class="form-control" />
                        <span asp-validation-for="WarehouseID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note" class="control-label"></label>
                        <input asp-for="Note" class="form-control" />
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>)
                )
            }
        </li>

    </ul>
</div>
<script>
    let currentEmployee = null;
</script>
