﻿@model DeliveryApp.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilometers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BussinesStaffID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BussinesStaffID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
