﻿@model IEnumerable<DeliveryApp.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<style>
    .table-bordered {
        border: 1px solid #dddddd;
        border-collapse: separate;
        border-left: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
    }

    .widget.widget-table .table {
        margin-bottom: 0;
        border: none;
    }

    .widget.widget-table .widget-content {
        padding: 0;
    }

    .widget .widget-header + .widget-content {
        border-top: none;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .widget .widget-content {
        padding: 20px 15px 15px;
        background: #FFF;
        border: 1px solid #D5D5D5;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .widget .widget-header {
        position: relative;
        height: 40px;
        line-height: 40px;
        background: #E9E9E9;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
        background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
        background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
        background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
        background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
        text-shadow: 0 1px 0 #fff;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
        border-bottom: 1px solid #bababa;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
        border: 1px solid #D5D5D5;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-background-clip: padding-box;
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        text-align: center;
    }

    .widget .widget-header h3 {
        top: 2px;
        position: relative;
        left: 10px;
        display: inline-block;
        margin-right: 3em;
        font-size: 14px;
        font-weight: 600;
        color: #555;
        line-height: 18px;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    }

    .widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
        display: inline-block;
        margin-left: 13px;
        margin-right: -2px;
        font-size: 16px;
        color: #555;
        vertical-align: middle;
    }

    @@media (min-width: 240px) and (max-width: 1024px) {
        .table-responsive,
        .table-responsive thead,
        .table-responsive tbody,
        .table-responsive th,
        .table-responsive td,
        .table-responsive tr {
            display: block;
        }

            .table-responsive > thead > tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            .table-responsive > tbody > tr {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }

                .table-responsive > tbody > tr:first-child {
                    border-radius: 3px 3px 0 0;
                    border-top: none;
                }

                .table-responsive > tbody > tr:last-child {
                    border-radius: 0 0 3px 3px;
                    border-bottom: none;
                }

                .table-responsive > tbody > tr td {
                    border: none;
                    border-bottom: 1px solid #ccc;
                    position: relative;
                    padding-left: 30% !important;
                    width: 100%;
                    overflow: hidden;
                }

                    .table-responsive > tbody > tr td:before {
                        content: attr(data-title);
                        position: absolute;
                        top: 15px;
                        left: 14px;
                        width: 30%;
                        padding-right: 10px;
                        white-space: nowrap;
                        font-size: 14px;
                    }

                    .table-responsive > tbody > tr td:first-child {
                        text-align: left;
                    }

            .table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child {
                padding: 25px 0 25px 30% !important;
                background-position: left 32% center;
            }

                .table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child span {
                    left: 32%;
                }
    }
</style>

<h1>Index</h1>

<form asp-controller="Order" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>
<p>
    <a asp-controller="Order" asp-action="Create">Create New</a>
</p>
<div class="span8">
    <div class="widget stacked widget-table action-table">

        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3>Table</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
            <table class="table table-striped table-bordered table-customize table-responsive">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShippingType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Employee1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Result)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WarehouseID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShippingType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Result)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WarehouseID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td class="td-actions">
                                <a class="btn btn-small btn-warning" data-url="Edit" asp-action="Edit" asp-route-id="@item.OrderID"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                                <a class="btn btn-small btn-success" asp-action="Details" asp-route-id="@item.OrderID"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                <a class="btn btn-small btn-danger" asp-action="Delete" asp-route-id="@item.OrderID" onclick="return confirm('Are you sure you want to delete record with ID = @item.OrderID');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> <!-- /widget-content -->
    </div> <!-- /widget -->
</div>
