﻿@*@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<style>
    .navbar-nav li a:hover, .dropdown:hover .dropbtn {
        background-color: red;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content dropdown-item:hover {
         background-color: #ddd;
    }
</style>

<ul class="navbar-nav">
    @if (DeliveryApp.Helpers.Common.loginResponse!=null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Hello @DeliveryApp.Helpers.Common.loginResponse.Username!</a>
        </li>
         <li class="nav-item dropdown">
            <a class="nav-link btn btn-link dropdown-toggle text-info text-dark" aria-haspopup="true" aria-expanded="false" asp-controller="User" asp-action="Details" asp-route-id="@DeliveryApp.Helpers.Common.loginResponse.UserID"><i class="fas fa-user-circle"></i></a>
                <div class="dropdown-content" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item btn btn-info btn-sm" asp-controller="User" asp-action="Details" asp-route-id="@DeliveryApp.Helpers.Common.loginResponse.UserID">Thông tin cá nhân</a>
                   <a class="dropdown-item btn btn-info btn-sm" asp-controller="User" asp-action="ChangePassword" asp-route-id="@DeliveryApp.Helpers.Common.loginResponse.UserID">Đổi mật khẩu</a>
                </div>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-link text-dark" asp-controller="User" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Create">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
