﻿@model DeliveryApp.Models.ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ChangePassword</h1>

<h4>ChangePassword</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none;">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oldPassword" class="control-label"></label>
                <input asp-for="oldPassword" class="form-control" />
                <span asp-validation-for="oldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newPassword" class="control-label"></label>
                <input asp-for="newPassword" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reNewPassword" class="control-label"></label>
                <input asp-for="reNewPassword" class="form-control" />
                <span asp-validation-for="reNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-controller="Home" asp-action="Index" value="Cancel" class="btn btn-danger" />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


